/* fonts */
/* inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* Istok Web */
@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* alexandria */
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap');
/* roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* root colors */
:root {
  --primary-color: #00ce93;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
}

button,
button:hover,
button:focus {
  cursor: pointer;
  outline: none;
}

input {
  border: none;
  outline: none;
}

.container {
  margin: 0 auto;
}
